html {
    background-color: #e2cf65;
}
#tsukasa {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#rui {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#nene {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#emu {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#hatsune {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#kaito {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#len {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#rin {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#meiko {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}
#luka {
    width: 1000px;
    height: 600px;
    border-color: yellow;
    border-radius: 25px;
}